/* style.css */

h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 400;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 700;
  color: blue;
}

form {
  border: solid 2px;
  border-radius: 10px;
  box-shadow: 0 0 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

input:hover {
  box-shadow: 0 0 20px rgba(77, 205, 18, 0.2);
}

.form {
  width: 30%;
}

.form-group {
  position: relative;
  margin-bottom: 20px;
}
